<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/"><h5>Homepage</h5></a>
    <a href="/angry_birds"><h5>Bird Index</h5></a>
    <hr>
    <p>The bird's name is {{name}}</p>
    <p>Ability: {{ability}}</p>
    <p>Group: {{group}}</p>
    <img src="{{image}}" alt="some_angry_bird">
</body>
</html>